footer {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2F8F0B 0%, #016A70 95%);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left img {
    width: 250px;
    margin-right: 10px;
    padding-left: 20px;
}

.footer-left .p {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    padding-left: 8px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    line-height: 3vh;
    padding-right: 40px;
    padding-top: 15px;
}

.footer-right a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
}

.footer-right a:hover {
    color: #000;
}

.center-container {
    margin-top: -15px;
    text-align: center;
}

.center-container .copyright {
    font-size: 16px;
    font-weight: bold;
}
