.manage-complaint-section {
    position: relative;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 75px;
    margin-right: 75px;
}

.manage-complaint-section h1 {
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    margin-left: 20px;
    font-size: xx-large;
    font-weight: 600;
}

.manage-complaint-section table {
    width: 100%;
    border-collapse: collapse;
}

.manage-complaint-section th {
    background-color: #708090;
    height: 70px;
    color: white;
    text-align: left;
    padding-left: 10px;
}

.manage-complaint-section tr {
    height: 70px;
}

.manage-complaint-section td {
    border-bottom: 1px solid black;
    width: calc(100% / 7);
    text-align: left;
    padding-left: 10px;
}

.custom-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Style for the overlay background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Style for the close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.manage-complaint-section #addrole {
    background-color: #016A70;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.manage-complaint-section #addrole:hover {
    background-color: #497b7d;
    color: #000;
    cursor: pointer;
}

.manage-complaint-section #delete {
    background-color: #2F8F0B;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.manage-complaint-section #delete:hover {
    background-color: #5c8f49;
    color: #000;
    cursor: pointer;
}
