.upgrade-progress-section {
    position: relative;
    text-align: center;
    height: 130vh;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 75px;
    margin-right: 75px;
}

.upgrade-progress-section h1 {
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    margin-left: 20px;
    font-size: xx-large;
}

.upgrade-progress-section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upgrade-progress-section div label {
    flex: 0 0 30%;
    margin-top: 40px;
    height: 50px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: large;
}
#photos-container {
    flex: 0 0 30%;
    margin-top: 40px;
    height: 100px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: large;
}

.upgrade-progress-section div select,
.upgrade-progress-section div input {
    flex: 0 0 65%;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #016A70;
    height: 50px;
    padding-left: 5px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: #F4FAF6;
    color: #708090;
}

.upgrade-progress-section div .image-input {
    flex: 0 0 65%; /* Updated to match the width of select and input */
    border: none;
    border-radius: 0;
    padding-left: 0;
    background-color: white;
    margin-left: 25px;
}

.upgrade-progress-section div textarea {
    flex: 0 0 65%;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #016A70;
    height: 100px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: #F4FAF6;
    color: #708090;
}

.upgrade-progress-section .submit {
    padding-left: 0;
    flex: 0 0 30%;
    background-color: #016A70;
    color: white;
    font-size: larger;
    border-radius: 40px;
    margin-top: 50px;
    height: 70px;
}

.thumbnail {
    
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Aligning elements to the right */
.upgrade-progress-section div .image-input,
.upgrade-progress-section div textarea {
    justify-self: flex-end;
}
#photos-container img{
    transform:translatex(0px) translatey(0px);
   }
   
/* Upgrade progress section */
.upgrade-progress-section{
    min-height:1368px;
    transform:translatex(0px) translatey(0px);
   }
   
   /* Submit Button */
   .upgrade-progress-section div .submit{
    transform:translatex(-513px) translatey(249px);
   }
   
   /* Thumbnail */
   #photos-container img{
    padding-left:79px;
   }
   
   /* Label */
   .upgrade-progress-section div label{
    transform:translatex(-28px) translatey(-12px);
   }
   
   
   /* Photos container */
   #photos-container{
    transform:translatex(-55px) translatey(-5px);
    width:528px !important;
    border-top-right-radius:0px;
    min-width:643px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    position:relative;
    top:-15px;
    left:-200px;
   }
   
   