name: PHP Frontend Build and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  id-token: write  # Required for OIDC #########  

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  PROJECT_NUMBER: ${{ secrets.GCP_PROJECT_NUMBER }}
  IMAGE: php-app
  GKE_CLUSTER: test-dev
  GKE_ZONE: asia-southeast1-a
  DEPLOYMENT_NAME: php-app

jobs:
  test:
    runs-on: self-hosted-2
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, xml, ctype, json
          coverage: none

      - name: Validate PHP syntax
        run: find . -name "*.php" -exec php -l {} \;

      - name: Check Dockerfile
        run: |
          if [ -f "Dockerfile" ]; then
            echo "✓ Dockerfile found"
          else
            echo "✗ Dockerfile not found"
            exit 1
          fi

  build-and-deploy:
    needs: test
    runs-on: self-hosted-2
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/${{ env.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-action-2/providers/github'
          service_account: 'github-actions@strategic-arc-258803.iam.gserviceaccount.com'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Install GKE auth plugin
        run: gcloud components install gke-gcloud-auth-plugin --quiet

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker asia-docker.pkg.dev

      - name: Build & Push Docker Image
        run: |
          IMAGE_PATH=asia-docker.pkg.dev/$PROJECT_ID/docker-repo/$IMAGE
          docker build -t $IMAGE_PATH:$GITHUB_SHA -t $IMAGE_PATH:latest .
          docker push $IMAGE_PATH:$GITHUB_SHA
          docker push $IMAGE_PATH:latest

      - name: Get GKE credentials
        run: |
            gcloud container clusters get-credentials $GKE_CLUSTER \
            --zone $GKE_ZONE \
            --project $PROJECT_ID

      - name: Deploy to GKE
        run: |
          kubectl set image deployment/$DEPLOYMENT_NAME \
            php-app=asia-docker.pkg.dev/$PROJECT_ID/docker-repo/$IMAGE:$GITHUB_SHA
          
          kubectl rollout status deployment/$DEPLOYMENT_NAME --timeout=5m
          
          echo "Deployment successful!"
          kubectl get pods -l app=php-app
          kubectl get svc -l app=php-app